.info-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.info-value {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
}

h6 {
    margin-bottom: 0!important;
}

.row {
    --bs-gutter-x: 0!important;
}

.info-form {
    width: 60%;
}